.wrapper {
  width: 100%;
}

body {
  color: white;
}

.top-nav {
  background-color: #ffcc00;
  height: 120px;
}
.top-nav_menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px;
  display: flexs;
}
.top-nav_menu li {
  margin-right: 48px;
}
.top-nav_menu li a {
  color: #ba0000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.top-nav_menu li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ba0000;
  -webkit-transform: translateY(53px) scale(0);
          transform: translateY(53px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.top-nav_menu li a:hover {
  text-decoration: none;
}
.top-nav_menu li a:hover::after {
  -webkit-transform: translateY(53px) scale(1);
          transform: translateY(53px) scale(1);
}

.top-slogan {
  background-image: url(../img/logo-img.png);
  height: 800px;
}

.slogan {
  width: 440px;
  height: 155px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 2.1px;
  margin-top: 179px;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
  margin: 40px 0;
}

.slogan-text {
  width: 747px;
  height: 50px;
  color: #ffcc00;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.slogan-info {
  width: 453px;
  height: 22px;
  margin: 40px 0;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.slogan-info span {
  color: #ffcc00;
  margin: 0 20px;
}

button {
  text-transform: uppercase;
}

.btn-1 {
  width: 150px;
  height: 50px;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 25px;
  background-color: #ffcc00;
  border-width: 0px;
  color: #ba0000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.btn-2 {
  width: 192px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: rgba(0, 170, 238, 0);
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.services {
  padding: 79px 0;
}

.back-text {
  width: 752px;
  height: 109px;
  color: #f8f8f8;
  font-family: Poppins;
  font-size: 150px;
  font-weight: 400;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.main-serv-text {
  color: #ba0000;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 1000;
  line-height: 80px;
  letter-spacing: 1.5px;
  -webkit-transform: translateY(-188px);
          transform: translateY(-188px);
}

.worldwide {
  width: 270px;
  height: 339px;
  background-color: #ba0000;
  padding-left: 30px;
}

.title-info {
  color: #ba0000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.text-info {
  color: #808080 !important;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.worldwide-logo {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.6px;
}

.worldwide-line {
  width: 70px;
  height: 2px;
  background-color: #ffcc00;
}

.worldwide-text {
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.dropbtn {
  color: white;
  margin-top: 30px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 50px;
  background-color: #9d0000;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: #ffcc00;
}

.btn-menu {
  width: 140px;
  text-align: left;
}

.confirm {
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 25px;
  background-color: #ffcc00;
  border-width: 0px;
  color: #ba0000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 20px;
  width: 140px;
  height: 50px;
}

.equipment {
  background-image: url("../img/equipment.png");
  height: 700px;
  padding-top: 150px;
}

.equip-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 1.5px;
  text-align: center;
}

.equip-play {
  text-align: center;
  margin-top: 50px;
}

.play-btn {
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 35px;
  border: 2px solid #ffcc00;
  background-color: #ffcc00;
  color: #ba0000;
  font-family: "Font Awesome";
  font-size: 20px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.6px;
}

.equip {
  width: 1300px !important;
  margin-top: 150px;
}

.equip-info {
  height: 215px;
  -webkit-box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
          box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
  background-color: #ffffff;
}

.equip-title {
  padding: 35px 0 30px 30px;
  color: #ba0000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.equip-info-text {
  color: #777777;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.equip-info-text ul li {
  list-style: none;
}
.equip-info-text ul li span {
  color: #ffcc00;
  margin-right: 10px;
}

.request {
  margin-top: 309px;
}
.request .container .row {
  width: 1172px !important;
}

.request-form {
  height: 533px;
  width: 520px;
  background-color: #ba0000;
  padding: 0;
}

.request-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.request-btn button {
  width: 260px;
  height: 50px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 0;
  background-color: #ba0000;
  color: #ffffff;
}
.request-btn #active {
  background-color: #ffcc00;
  color: #ba0000;
}

.request-form-menu {
  margin: 40px;
}

.request-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  height: 50px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.request-menu :first-child {
  width: 440px;
  border: 2px solid #ffffff;
  padding: 10px 0 20px 20px;
}
.request-menu :nth-child(2) {
  width: 50px;
  padding: 10px 20px 20px 20px;
  border: 2px solid #ffffff;
  border-left: 0;
}

.request-menu-content-info {
  display: block;
}

.request-picture {
  width: 431px;
  height: 499px;
  padding: 15px 0 0 15px;
  border: 20px solid #ffcc00;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */