.wrapper
    width: 1920px
body 
    color: white
.container
    width: 1175px
.top-nav
    background-color: #ffcc00
    &_menu
        list-style: none
        display: flex
        padding: 55px
        display: flexs
        li
            margin-right: 48px
            & a 
                color: #ba0000
                font-family: Poppins
                font-size: 14px
                font-weight: 400
                line-height: 24px
                text-transform: uppercase
                text-decoration: none
                &::after
                    content: ""
                    display: block
                    width: 100%
                    height: 4px
                    background-color: #ba0000
                    transform: translateY(71px) scale(0)
                    transition: all 0.2s
                &:hover
                    text-decoration: none
                    &::after
                        transform: translateY(71px) scale(1)        
.top-slogan
    background-image: url(../img/logo-img.png)
    height: 800px
.slogan
    width: 440px
    height: 155px
    color: #ffffff
    font-family: Poppins
    font-size: 70px
    font-weight: 600
    line-height: 80px
    letter-spacing: 2.1px
    margin-top: 179px
.line
    width: 100px
    height: 4px
    background-color: #ffcc00  
    margin: 40px 0  
.slogan-text
    width: 747px
    height: 50px
    color: #ffcc00
    font-family: Poppins
    font-size: 20px
    font-weight: 400
    line-height: 30px
    letter-spacing: 0.6px
.slogan-info
    width: 453px
    height: 22px
    margin: 40px 0
    color: #ffffff
    font-family: Poppins
    font-size: 20px
    font-weight: 200
    line-height: 30px
    text-transform: uppercase
    letter-spacing: 0.6px
    & span 
        color: #ffcc00
        margin: 0 20px

           


       