body {
  font-family: 'Poppins', sans-serif;
}

.top-panel {
  padding-top: 17px;
  height: 50px;
  background-color: #ba0000;
}

.top-lang {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Poppins";
  font-weight: 400;
  letter-spacing: 0.42px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.social .fa-angle-down {
  margin: 0 5px;
}

.fa-users {
  margin-right: 8px;
}

.country-prof {
  margin-left: 30px;
}

.navigation {
  height: 120px;
  background-color: #ffcc00;
}

.logo {
  margin-top: 39px;
  margin-right: 124px;
}

nav {
  margin-top: 55px;
  margin-right: 75px;
}

nav a {
  color: #ba0000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin-right: 48px;
  hover-color: #ba0000;
  hover-text-decoration: none;
  hover-border-bottom: 4px solid #ba0000;
}

.search {
  background-color: #ba0000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  margin-top: 35px;
}

.search .fa-search {
  color: #ffffff;
  top: 18px;
  left: 18px;
  position: absolute;
}

.site-title {
  background-image: url("../img/title/logo-img.png");
  height: 800px;
}

.title-box {
  padding-top: 179px;
}

.title-box h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 2.1px;
}

.title-box .line {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
}

.title-box .title-text {
  width: 747px;
  color: #ffcc00;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
}

.title-box .reclame {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.title-box .reclame span {
  color: #ffcc00;
  margin: 0 28px;
}

.title-btn .btn {
  width: 150px;
  height: 50px;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
  border-radius: 25px;
  background-color: #ffcc00;
  color: #ba0000;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.title-btn #active {
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services {
  padding-top: 100px;
}

.serv-title {
  background-image: url("../img/services/services.png");
  height: 109px;
  background-repeat: no-repeat;
  color: #ba0000;
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 1.5px;
  margin-bottom: 80px;
  padding-top: 15px;
}

.serv-exampl {
  margin-bottom: 105px;
}

.serv-exampl h3 {
  color: #ba0000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-top: 25px;
}

.serv-exampl p {
  color: #777777;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.serv-exampl a {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins;
  letter-spacing: 0.48px;
}

.serv-exampl a i {
  margin-left: 5px;
  color: #ba0000;
}

.world-wide {
  width: 270px;
  height: 339px;
  background-color: #ba0000;
  padding-top: 30px;
  padding-left: 30px;
}

.world-wide h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.world-wide .line {
  width: 70px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffcc00;
}

.world-wide p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.world-wide .location span {
  width: 50px;
  height: 50px;
  background-color: #ffcc00;
}
/*# sourceMappingURL=style.css.map */